.instructionsContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.title{
    font-family: titleFont;
    color: white;
    font-size: 3.5em;
    -webkit-text-stroke: 0.04em black;
    text-align: center;
    margin-bottom: 6.5vh;
}

.title .title2{
    color: #ffb842;
}

.containerText{
    text-align: left;
    color: white;
    font-family: 'Lucida Sans';
    width: 51%;
    text-align: justify;
    font-size: larger;
    display: block;
    margin-bottom: 2.5vh;
    
    li{
        margin-bottom: 0.8vh;
    }
}
