@import 'src/style/responsive';

.createSessionContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100%;
}

.createSessionTitle{
  margin-bottom: 5vw;
  font-family: titleFont, Impact;
  color: white;
  font-size: 3em;
  -webkit-text-stroke: 0.04em black;
  display: inline-flex;
  .yellow{
    color: #ffb842;
    margin-left: 0.5em;
  }
}

.createSessionOptionsContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.createSessionNameContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2vw;
}

.nameTitle{
  font-family: subtitleFont;
  color: white;
}

.nameInput{
  margin-left: 1vw;
  height: 3vw;
  width: 11vw;
  font-family: subtitleFont;
  text-align: center;
  border-radius: 0.3em;
  border-color: transparent;
}

.createSessionButton{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vw;
  background-color: #153365;
  cursor: pointer;
  height: 3vw;
  width: 20vw;
  color: white;
  font-family: subtitleFont;
  border-radius: 0.5em;
  font-size: 0.8em;
}

.joinServerButton{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1vw;
  font-family: subtitleFont;
  background-color: #153365;
  font-size: 0.8em;
  border-radius: 0.5em;
  cursor: pointer;
  color: white;
  height: 3vw;
  width: 20vw;
}

.joinServerConfirmButton{
  background-color: #153365;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin-bottom: 1vw;
  height: 3vw;
  color: white;
  font-family: subtitleFont;
  border-radius: 0.5em;
  width: 20vw;
}

.joinServerConfirmButton:hover{
  filter: drop-shadow(15px 10px 10px rgba(255, 255, 255, 0.25));
}

.joinSessionInput{
  height: 3vw;
  width: 11vw;
  text-align: center;
  font-family: subtitleFont;
  margin-bottom: 1vw;
  font-size: 0.7em;
  border-radius: 0.3em;
  border-color: transparent;
}

.joinSessionInput:focus{
  font-size: 1em;
}

.swal-title{
  font-family: titleFont;
  color: #ffb842;
  -webkit-text-stroke: 0.04em black;
}

.swal-text{
  font-family: subtitleFont;
  color: white;
}

.swal-modal{
  background-color: #0069ba;
}

.swal-button{
  background-color: #153365;
  font-family: subtitleFont;
}

