@import 'src/style/responsive';

.closedChatContainer{
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 2vh ;
  // background-color: navy;
  height: 20vw;
  // max-width: fit-content;
  width: 20vw;
  right: 5vw;
  border-radius: 50%;
  
  // Support for mobile devices
  @include xl {
    background-color: #153365;
    border-radius: 0.5em  0.5em 0 0;
    position: fixed;
    bottom: 0%;
    height: 7vh;
    width: 30vw;
    max-width: 30vw;
    right: 5vw;
  }
}

.openChatContainer{
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #15326542;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.299), 0px 4px 4px rgba(0, 0, 0, 0.293);
  bottom: 2vh ;
  height: 50vw;
  width: 40vw;
  right: 5vw;
  border-radius: 10%;
  font-size: 3em;

  
  // Support for mobile devices
  @include xl {
    position: fixed;
    bottom: 0%;
    border-radius: 0.5em  0.5em 0 0;
    height: 35vw;
    width: 30vw;
  }
}

.chatImage{
  @include xl {
    // display: none;
  }
}

.chatContentsContainer{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin-top: 1vh;
  width: 38vw;
  height: 17vh;
  // background-color: navy;

  @include xl {
    height: 31vw;
    width: 30vw;
  }
}

.chatInput{
  width: 25vw;
  height: 2vh;
  font-size: 0.5em;
  font-family: subtitleFont;
  font-size: 2vw;

  @include xl {
    height: 5vh;
    width: 20vw;
    font-size: 0.4em;
    border-radius: 0.3em;
    border-color: transparent;
  }
}

.closeChatButton{
  height: 3.5vh;
  width: 40vw;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 2%;
  font-family: titleFont;
  color: white;
  font-size: 1.5em;
  -webkit-text-stroke: 0.04em black;
  font-size: 0.5em;
  background-color: #153365;

  .closePart2{
    color: #ffb842;
    margin-left: 0;
  }

  @include xl {
    height: 6.5vh;
    width: 30vw;
    border-radius: 0.5em  0.5em 0 0;
  }
}

.chatFooter{
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  bottom: 3%;
}

.chatBox{
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  font-size: 0.5em;
  height: 30vw;
  
  @include xl {
    // height: 100vw;
    // padding-left: 1vw;
    width: 30vw;
    height: 26.5vw;
  }
}

.chatSendButton{
  background-color: #007bff;
  height: 2vh;
  padding: 0vh 1vw;
  border-radius: 5%;
  font-size: 0.7em;
  align-items: center;
  color: white;
  font-family: subtitleFont;
  font-size: 0.5em;
  margin-left: 1vw;
  display: flex;
  align-items: center;

  @include xl{
    background-color: #007bff;
    height: 5vh;
    border-radius: 0.3em;
    margin-left: 1vw;
  }
}

.messageContainer{
  display: flex;
  font-family: subtitleFont; 
  font-size: 0.8em;
  flex-direction: row;
  align-items: center;
}

.messageBody{
  margin-left: 1vw;
  width: 25vw;

  @include xl {
    width: 19vw;
  }
}

.messageTime{
  margin-right: 1vw;
  margin-left: 1vw;
  font-size: 0.75em;
}