@import 'src/style/responsive';

.waitForHostPopup{
  background-color: #153365;
  border-radius: 10%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vw;
  width: 40vw;
  left: 30vw;
  top: 4vw;
}

.startGamePopup{
  background-color: #153365;
  border-radius: 10%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vw;
  width: 40vw;
  left: 30vw;
  top: 4vw;
}

.startGameButton{
  background-color: #ffb842;
  cursor: pointer;
  font-family: subtitleFont;
  text-align: center;
  width: 15vw;
  height: 5vw;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 3vw;
  border-radius: 10%;
  font-size: 2em;
}

.joinedPlayersContainer{
  width: 35vw;
  border-radius: 10%;
  height: 27vw;
  position: absolute;
  top: 3vw;
  background-color: #0069ba;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.joinedPlayersTitle{
  font-size: 2em;
  font-family: subtitleFont;
}

.joinedPlayersCode{
  font-family: titleFont, Impact;
  font-size: 2em;
  text-align: center;
  color: white;
  -webkit-text-stroke: 0.04em black;
  .yellow{
    color: #ffb842;
    margin-left: 0.5em;
  }
}

.joinedPlayersList{
  margin-top: 2vw;
  display: flex;
  flex-direction: column;
}

.joinedPlayerContainer{
  margin-top: 1vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.joinedPlayerIcon{
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  background-color: #43da43;
  margin-right: 2vw;
}

.joinedPlayerName{
  font-family: subtitleFont;
  font-size: 1.5em;
}

.waitStartGameButton{
  text-align: center;
  width: 25vw;
  height: 5vw;
  font-family: subtitleFont;
  color: white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 3vw;
  border-radius: 3%;
  font-size: 1.5em;
}

.ownCardsContainer{
  // position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardImage{
  width: 15vw;
}

.cardImage:hover{
  filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.95));
}

.seecards{
  justify-content:center;

  .cardImage{
    margin: 0 1.5vw;
  }
  
  .cardImage:hover{
    filter: none;
    cursor: not-allowed;
  }
}

.cardContainer{
  width: fit-content;
  margin-left: 1vw;
}

.gameContainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100%;

  h1, h2{
    font-family: subtitleFont;
    justify-content: center;
    display: flex;
  }
}

.pickCardTitle{
  font-size: 4em;
  font-family: 'subtitleFont';
  text-align: center;
}

.pickCardTimer{
  font-size: 1.5em;
  margin: 0 0 1vw 0;
  font-family: subtitleFont;
  text-align: center;
}

.waitingPickContainer{
  display: flex;
  font-family: subtitleFont;
  flex-direction: column;
  font-size: 1.5em;
  justify-content: center;
  align-items: center;
}

.turnCardContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1{
    font-size: 1.5em;
  }
}

.badgesContainer{
  display: flex;
  width: auto;
  margin: 0.5vw;
  flex-direction: row;
  justify-content: space-between;

  img{
    margin: 0 0.5vw;
  }
}

.badgeImage{
  width: 10vw;
  height: 10vw;
}

.badgeShowContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.opponentsBadgeContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.opponentsName{
  font-size: 2vw;
  font-family:subtitleFont; 
  margin: 0 1vw;
}

.opponentsBadgeImage{
  width: 3vw;
  height: 3vw;
}