@import 'src/style/responsive';

.waitForHostPopup{
  background-color: cyan;
  border-radius: 10%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vw;
  width: 40vw;
  left: 30vw;
  top: 4vw;
}

.startGamePopup{
  background-color: cyan;
  border-radius: 10%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vw;
  width: 40vw;
  left: 30vw;
  top: 4vw;
}

.startGameButton{
  background-color: yellow;
  text-align: center;
  width: 15vw;
  height: 5vw;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 3vw;
  border-radius: 10%;
  font-size: 2em;
}

.joinedPlayersContainer{
  width: 35vw;
  border-radius: 10%;
  height: 27vw;
  position: absolute;
  top: 3vw;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.joinedPlayersTitle{
  font-size: 2em;
}

.joinedPlayersCode{
  font-size: 3em;
}

.joinedPlayersList{
  margin-top: 2vw;
  display: flex;
  flex-direction: column;
}

.joinedPlayerContainer{
  margin-top: 1vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.joinedPlayerIcon{
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  background-color: green;
  margin-right: 2vw;
}

.joinedPlayerName{
  font-size: 1.5em;
}

.waitStartGameButton{
  text-align: center;
  width: 25vw;
  height: 5vw;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 3vw;
  border-radius: 3%;
  font-size: 2em;
}

.ownCardsContainer{
  // position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vw;
}

.cardContainer{
  width: fit-content;
  margin-left: 1vw;
}

.cardImage{
  width: 15vw;
}

.gameContainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100%;
}

.pickCardTitle{
  font-size: 2em;
  text-align: center;
}

.pickCardTimer{
  font-size: 5em;
  text-align: center;
}

.waitingPickContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.turnCardContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.badgesContainer{
  display: flex;
  flex-direction: row;
}

.badgeImage{
  width: 10vw;
  height: 10vw;
}

.badgeShowContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.opponentsBadgeContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.opponentsName{
  font-size: 2vw;
}

.opponentsBadgeImage{
  width: 3vw;
  height: 3vw;
}